.card-container{
    display : grid;
    grid-template-rows :10% 75% 15%;
    overflow : hidden ;
    background-color: #080420;
}
.card-container .brand{
    display : flex ;
    align-items: center;
    justify-content: center;
    gap : 1rem ; 
}
.card-container img{
    height: 3rem;
    align-self:center;
    /* border-radius: 50%; */
    width : 50px;
    height : 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.card-container h3{
    color : white;
    text-transform: uppercase;
}
.Contacts{
    display : flex ;
    flex-direction:  column;
    align-items : center;
    overflow : auto ;
    gap : 0.8rem;
}
::-webkit-scrollbar{
    width : 0.2rem ; 
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff39;
    width: 0.1rem ;
    border-radius: 1rem;
}



.card-container .contact{
    background-color: #ffffff39;
    min-height: 5rem;
    width: 90%;
    cursor:pointer;
    border-radius:0.2rem;
    padding: 0.4rem ;
    gap: 1rem ;
    align-items: center;
    display: flex ;
    transition:0.5s ease-in-out;
    
}
.card-container .selected{
    background-color: #9186f3;
}
.card-container .current-user{
    background-color: #0d0d30;
    display : flex ;
    justify-content: center;
    align-items : center;
    gap : 2rem ; 
}
.current-user img{
    height : 4rem ;
    max-inline-size : 100%;
}
.current-user .username h2{
    color : white;
}
@media screen and (min-width : 720px) and (max-width ){
    .card-container{
        gap : 0.5rem ; 
    }
    .card-container .username .h2{
        font-size : 1rem ; 
    }
}
.button-91 {
    color: #fff;
    padding: 15px 25px;
    background-color: #120e3b;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    cursor: pointer;
  }